@use '../general' as g;

.creations {
  margin-block-start: 6em;
  padding-inline: var(--padding-mobile-inline);
  display: grid;
  grid-template-areas:
    'title'
    'images'
    'button';
  place-content: center;
  place-items: center;
  gap: 2em;

  @include g.breakpoint-up(medium) {
    padding-inline: var(--padding-tablet-inline);
    grid-template-areas:
      'title button'
      'images images';
    gap: 5em;
  }

  @include g.breakpoint-up(medium) {
    padding-inline: var(--padding-desktop-inline);
  }

  &__title {
    grid-area: title;
    font-family: var(--fontFamilyHeaders);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    @include g.breakpoint-up(medium) {
      justify-self: start;
      font-size: 3em;
    }
  }

  &__all {
    grid-area: button;
    padding: 0.93em 3.075em;
    border: 1px solid var(--black);
    font-size: 0.875rem;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
    color: var(--black);
    transition: background 250ms linear, color 250ms linear;

    @include g.breakpoint-up(medium) {
      padding: 0.93em 1.25em;
      justify-self: end;
    }

    &:focus,
    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  &__grid {
    grid-area: images;
    display: grid;
    grid-template-columns: 20.5em;
    grid-template-rows: repeat(8, 7.5em);
    gap: 1.5em;
    justify-content: center;
    //margin-block: 3em;

    @include g.breakpoint-up(medium) {
      grid-template-columns: repeat(2, 17em);
      grid-template-rows: repeat(4, 30em);
      gap: 2em;
    }

    @include g.breakpoint-up(large) {
      grid-template-columns: repeat(4, 17em);
      grid-template-rows: repeat(2, 30em);
    }
  }

  &__item {
    position: relative;
    display: grid;
    padding-inline: 0.85em;
    padding-block: 0.85em;
    background-size: cover;
    background-repeat: no-repeat;

    @include g.breakpoint-up(medium) {
      padding-inline: 2.5em;
      padding-block: 2em;
    }

    &:hover,
    &:focus {
      .creations__text {
        color: var(--black);
      }
    }

    &::before {
      position: absolute;
      content: '';
      inset: 0;
      background-color: transparent;
      background-image: var(--background-gradient-mobile);
      transition: background 250ms linear;

      @include g.breakpoint-up(medium) {
        background-image: var(--background-gradient-desktop);
      }
    }

    &:hover::before,
    &:focus::before {
      background-color: rgba(255, 255, 255, 0.75);
      background-image: none;
    }

    &.deep-earth {
      background-image: url(../../../public/image-deep-earth-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-deep-earth-desktop.jpg);
      }
    }

    &.night-arcade {
      background-image: url(../../../public/image-night-arcade-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-night-arcade-desktop.jpg);
      }
    }

    &.soccer-vr {
      background-image: url(../../../public/image-soccer-team-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-soccer-team-desktop.jpg);
      }
    }

    &.the-grid {
      background-image: url(../../../public/image-grid-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-grid-desktop.jpg);
      }
    }

    &.up-above {
      background-image: url(../../../public/image-from-above-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-from-above-desktop.jpg);
      }
    }

    &.pocket-borealis {
      background-image: url(../../../public/image-pocket-borealis-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-pocket-borealis-desktop.jpg);
      }
    }

    &.curiosity {
      background-image: url(../../../public/image-curiosity-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-curiosity-desktop.jpg);
      }
    }

    &.fisheye {
      background-image: url(../../../public/image-fisheye-mobile.jpg);

      @include g.breakpoint-up(medium) {
        background-image: url(../../../public/image-fisheye-desktop.jpg);
      }
    }
  }

  &__text {
    align-self: end;
    max-width: 8ch;
    font-family: var(--fontFamilyHeaders);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    color: var(--white);
    transition: color 250ms linear;
    z-index: 1; // so it's above the before

    @include g.breakpoint-up(medium) {
      font-size: 2rem;
    }
  }
}
