@use '../general' as g;

.header {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 2.5em var(--padding-mobile-inline);
  background-image: url(../../../public/image-hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);

  @include g.breakpoint-up(medium) {
    padding: 4em var(--padding-tablet-inline);
  }

  @include g.breakpoint-up(large) {
    padding-inline: var(--padding-desktop-inline);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 1.5rem;
    z-index: 1;

    @include g.breakpoint-up(medium) {
      height: 2rem;
    }
  }

  &__menu {
    background-color: transparent;
    border: none;
    z-index: 1;

    @include g.breakpoint-up(medium) {
      display: none;
    }
  }

  &__nav {
    @include g.breakpoint-down(large) {
      position: absolute;
      display: grid;
      align-content: center;
      width: 100vw;
      height: 100vh;
      // Hack so it ignores the padding
      inset-block-start: 0;
      inset-inline-start: 0;
      background-color: var(--black);
      font-family: var(--fontFamilyHeaders);
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      transform: translateX(1000%);
      transition: transform 500ms ease-in-out;

      &.open {
        transform: translateX(0);
      }
    }
  }

  &__list {
    list-style-type: none;
    padding-inline-start: 1em;
  }

  &__item {
    line-height: 2;

    @include g.breakpoint-up(medium) {
      display: inline;

      &:not(:last-of-type) {
        margin-inline-end: 2em;
      }
    }
  }

  &__title {
    place-self: center;
    padding: 0.76em;
    border: 2px solid var(--white);
    font-family: var(--fontFamilyHeaders);
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.95;

    @include g.breakpoint-up(medium) {
      padding: 0.55em;
      font-size: 4.5rem;
    }
  }
}
