.header {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 2.5em 1.5em;
  background-image: url(../../../public/image-hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    background-color: transparent;
    border: none;
  }

  &__nav {
    transform: translateX(100%);

    &.open {
      transform: translateX(0);
    }
  }

  &__list {
  }

  &__item {
    display: inline;
  }

  &__title {
    place-self: center;
    padding: 0.76em;
    border: 2px solid var(--white);
    font-family: var(--fontFamilyHeaders);
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.95;
  }
}
