@use '../general' as g;

.leader {
  margin-block-start: 6em;
  text-align: center;

  @include g.breakpoint-up(medium) {
    padding: var(--padding-desktop-inline);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__image {
    padding-inline: 1.5em;
    margin-block-end: 3em;

    @include g.breakpoint-up(medium) {
      margin-block-end: 0;
    }
  }

  &__text {
    padding-inline: 3em;
    background-color: var(--white);

    @include g.breakpoint-up(medium) {
      padding-block-start: 6em;
      padding-inline: 6em 0;
      max-width: 36em;
      text-align: start;
      transform: translateX(-12em);
    }
  }

  &__title {
    font-family: var(--fontFamilyHeaders);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;

    @include g.breakpoint-up(medium) {
      font-size: 3em;
    }
  }

  &__paragraph {
    margin-block-start: 1em;
    color: var(--veryDarkGrey);
  }
}
